<h1 class="text-center">Stupid Coaching</h1>

<p class="mt-2 ms-2"><%= params[:question] %><br>-<em>You</em></p>
<p class="mt-2 ms-2" id="coach"><%= @answer %><br>-<em>Your Coach</em></p>

<%= link_to 'Ask a new question', "/ask" %>
